## Setup

In [7]:
import pandas as pd 
import os 

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


DATA_PATH = 'dataset/raw'

UNEMPLOYMENT_PATH = os.path.join(DATA_PATH,
                                 'Unemployment Rate Province Level 2022.xlsx')
CTZ_GROWTH_RATE_PATH = os.path.join(DATA_PATH,
                                    'Citizen Growth Rate Province Level 2022from2020.xlsx')
POVERTY_PCT_PATH = os.path.join(DATA_PATH,
                                 'Percentage of Poor Citizen Province Level 2022.xlsx' 
)

In [8]:
import bamboolib as bam 
bam.disable()

The bamboolib extension was disabled. You can enable it again via 'bam.enable()'. In case that bamboolib was not helpful to you, we are sorry and would like to fix this. Please write us a quick mail to info@8080labs.com so that we can serve you better in the future. Best regards, Tobias and Florian

## Read Data

In [9]:
unemployment_data = pd.read_excel(UNEMPLOYMENT_PATH)
ctz_growth = pd.read_excel(CTZ_GROWTH_RATE_PATH)
poverty_pct = pd.read_excel(POVERTY_PCT_PATH)

In [10]:
unemployment_data

ctz_growth

poverty_pct

                PROVINSI  Februari_2022  Agustus_2022
0                   ACEH           5.97          6.17
1         SUMATERA UTARA           5.47          6.16
2         SUMATERA BARAT           6.17          6.28
3                   RIAU           4.40          4.37
4                  JAMBI           4.70          4.59
5       SUMATERA SELATAN           4.74          4.63
6               BENGKULU           3.39          3.59
7                LAMPUNG           4.31          4.52
8   KEP. BANGKA BELITUNG           4.18          4.77
9              KEP. RIAU           8.02          8.23
10           DKI JAKARTA           8.00          7.18
11            JAWA BARAT           8.35          8.31
12           JAWA TENGAH           5.75          5.57
13         DI YOGYAKARTA           3.73          4.06
14            JAWA TIMUR           4.81          5.49
15                BANTEN           8.53          8.09
16                  BALI           4.84          4.80
17   NUSA TENGGARA BARAT           3.92          2.89
18   NUSA TENGGARA TIMUR           3.30          3.54
19      KALIMANTAN BARAT           4.86          5.11
20     KALIMANTAN TENGAH           4.20          4.26
21    KALIMANTAN SELATAN           4.20          4.74
22      KALIMANTAN TIMUR           6.77          5.71
23      KALIMANTAN UTARA           4.62          4.33
24        SULAWESI UTARA           6.51          6.61
25       SULAWESI TENGAH           3.67          3.00
26      SULAWESI SELATAN           5.75          4.51
27     SULAWESI TENGGARA           3.86          3.36
28             GORONTALO           3.25          2.58
29        SULAWESI BARAT           3.11          2.34
30                MALUKU           6.44          6.88
31          MALUKU UTARA           4.98          3.98
32           PAPUA BARAT           5.78          5.37
33                 PAPUA           3.60          2.83

                PROVINSI      2022
0                   ACEH  1.432930
1         SUMATERA UTARA  1.214010
2         SUMATERA BARAT  1.091596
3                   RIAU  1.954455
4                  JAMBI  1.328590
5       SUMATERA SELATAN  1.273289
6               BENGKULU  1.397251
7                LAMPUNG  1.065908
8   KEP. BANGKA BELITUNG  1.520060
9              KEP. RIAU  3.152867
10           DKI JAKARTA  0.636144
11            JAWA BARAT  1.332892
12           JAWA TENGAH  0.805628
13         DI YOGYAKARTA  1.443092
14            JAWA TIMUR  0.678774
15                BANTEN  1.657372
16                  BALI  1.286377
17   NUSA TENGGARA BARAT  1.639518
18   NUSA TENGGARA TIMUR  1.501459
19      KALIMANTAN BARAT  1.333535
20     KALIMANTAN TENGAH  1.513239
21    KALIMANTAN SELATAN  1.513367
22      KALIMANTAN TIMUR  1.414898
23      KALIMANTAN UTARA  2.095718
24        SULAWESI UTARA  0.817396
25       SULAWESI TENGAH  1.530149
26      SULAWESI SELATAN  0.955340
27     SULAWESI TENGGARA  1.661276
28             GORONTALO  1.022980
29        SULAWESI BARAT  1.576145
30                MALUKU  1.010019
31          MALUKU UTARA  1.611598
32           PAPUA BARAT  2.458412
33                 PAPUA  1.516635

                PROVINSI  Semester 1 (Maret)_2022  Semester 2 (September)_2022
0                   ACEH                    14.64                        14.75
1         SUMATERA UTARA                     8.42                         8.33
2         SUMATERA BARAT                     5.92                         6.04
3                   RIAU                     6.78                         6.84
4                  JAMBI                     7.62                         7.70
5       SUMATERA SELATAN                    11.90                        11.95
6               BENGKULU                    14.62                        14.34
7                LAMPUNG                    11.57                        11.44
8   KEP. BANGKA BELITUNG                     4.45                         4.61
9              KEP. RIAU                     6.24                         6.03
10           DKI JAKARTA                     4.69                         4.61
11            JAWA BARAT                     8.06                         7.98
12           JAWA TENGAH                    10.93                        10.98
13         DI YOGYAKARTA                    11.34                        11.49
14            JAWA TIMUR                    10.38                        10.49
15                BANTEN                     6.16                         6.24
16                  BALI                     4.57                         4.53
17   NUSA TENGGARA BARAT                    13.68                        13.82
18   NUSA TENGGARA TIMUR                    20.05                        20.23
19      KALIMANTAN BARAT                     6.73                         6.81
20     KALIMANTAN TENGAH                     5.28                         5.22
21    KALIMANTAN SELATAN                     4.49                         4.61
22      KALIMANTAN TIMUR                     6.31                         6.44
23      KALIMANTAN UTARA                     6.77                         6.86
24        SULAWESI UTARA                     7.28                         7.34
25       SULAWESI TENGAH                    12.33                        12.30
26      SULAWESI SELATAN                     8.63                         8.66
27     SULAWESI TENGGARA                    11.17                        11.27
28             GORONTALO                    15.42                        15.51
29        SULAWESI BARAT                    11.75                        11.92
30                MALUKU                    15.97                        16.23
31          MALUKU UTARA                     6.23                         6.37
32           PAPUA BARAT                    21.33                        21.43
33                 PAPUA                    26.56                        26.80

## Data Manipulation

### Generate Average of 2022 Poverty

In [11]:
poverty_pct['poverty_pct_avg_2022'] = ( poverty_pct['Semester 1 (Maret)_2022'] + \
                                                poverty_pct['Semester 2 (September)_2022'] ) / 2

In [12]:
poverty_pct = poverty_pct.drop(['Semester 1 (Maret)_2022','Semester 2 (September)_2022'],axis=1)

### Generate Average of 2022 Unemployment

In [13]:
unemployment_data.columns

Index(['PROVINSI', 'Februari_2022', 'Agustus_2022'], dtype='object')

In [14]:
unemployment_data['unemployment_avg_2022'] = ( unemployment_data['Februari_2022'] + \
                                                unemployment_data['Agustus_2022'] ) / 2

In [15]:
unemployment_data = unemployment_data.drop(['Februari_2022','Agustus_2022'],axis=1)

In [16]:
ctz_growth = ctz_growth.rename(columns={2022:'growth_ctz_20_22'})

### Merging All Data Based on PROVINSI Key

In [17]:
#merge 1 unemployment +growth 
merge_1 = unemployment_data.merge(ctz_growth,on='PROVINSI',how='inner')
merged_all= merge_1.merge(poverty_pct,on='PROVINSI',how='inner')

In [18]:
merged_all

,PROVINSI,unemployment_avg_2022,growth_ctz_20_22,poverty_pct_avg_2022
0,ACEH,6.070,1.432930,14.695
1,SUMATERA UTARA,5.815,1.214010,8.375
2,SUMATERA BARAT,6.225,1.091596,5.980
3,RIAU,4.385,1.954455,6.810
4,JAMBI,4.645,1.328590,7.660
5,SUMATERA SELATAN,4.685,1.273289,11.925
6,BENGKULU,3.490,1.397251,14.480
7,LAMPUNG,4.415,1.065908,11.505
8,KEP. BANGKA BELITUNG,4.475,1.520060,4.530
9,KEP. RIAU,8.125,3.152867,6.135
10,DKI JAKARTA,7.590,0.636144,4.650
11,JAWA BARAT,8.330,1.332892,8.020
12,JAWA TENGAH,5.660,0.805628,10.955
13,DI YOGYAKARTA,3.895,1.443092,11.415
14,JAWA TIMUR,5.150,0.678774,10.435
15,BANTEN,8.310,1.657372,6.200
16,BALI,4.820,1.286377,4.550
17,NUSA TENGGARA BARAT,3.405,1.639518,13.750
18,NUSA TENGGARA TIMUR,3.420,1.501459,20.140
19,KALIMANTAN BARAT,4.985,1.333535,6.770
20,KALIMANTAN TENGAH,4.230,1.513239,5.250
21,KALIMANTAN SELATAN,4.470,1.513367,4.550
22,KALIMANTAN TIMUR,6.240,1.414898,6.375
23,KALIMANTAN UTARA,4.475,2.095718,6.815
24,SULAWESI UTARA,6.560,0.817396,7.310
25,SULAWESI TENGAH,3.335,1.530149,12.315
26,SULAWESI SELATAN,5.130,0.955340,8.645
27,SULAWESI TENGGARA,3.610,1.661276,11.220
28,GORONTALO,2.915,1.022980,15.465
29,SULAWESI BARAT,2.725,1.576145,11.835
30,MALUKU,6.660,1.010019,16.100
31,MALUKU UTARA,4.480,1.611598,6.300
32,PAPUA BARAT,5.575,2.458412,21.380
33,PAPUA,3.215,1.516635,26.680

### Generate West and East Indonesia Encoding

First we map the province --> regional --> west and east indonesia

In [19]:
regional_mapping = {
    "ACEH": "SUMATERA",
    "BALI": "BALI DAN NUSA TENGGARA",
    "BANTEN": "JAWA",
    "BENGKULU": "SUMATERA",
    "DI YOGYAKARTA": "JAWA",
    "GORONTALO": "SULAWESI",
    "JAMBI": "SUMATERA",
    "JAWA BARAT": "JAWA",
    "JAWA TENGAH": "JAWA",
    "JAWA TIMUR": "JAWA",
    "DKI JAKARTA": "JAWA",
    "KALIMANTAN BARAT": "KALIMANTAN",
    "KALIMANTAN SELATAN": "KALIMANTAN",
    "KALIMANTAN TENGAH": "KALIMANTAN",
    "KALIMANTAN TIMUR": "KALIMANTAN",
    "KALIMANTAN UTARA": "KALIMANTAN",
    "KEP. BANGKA BELITUNG": "SUMATERA",
    "KEP. RIAU": "SUMATERA",
    "LAMPUNG": "SUMATERA",
    "MALUKU": "MALUKU DAN PAPUA",
    "MALUKU UTARA": "MALUKU DAN PAPUA",
    "NUSA TENGGARA BARAT": "BALI DAN NUSA TENGGARA",
    "NUSA TENGGARA TIMUR": "BALI DAN NUSA TENGGARA",
    "PAPUA": "MALUKU DAN PAPUA",
    "PAPUA BARAT": "MALUKU DAN PAPUA",
    "RIAU": "SUMATERA",
    "SULAWESI BARAT": "SULAWESI",
    "SULAWESI SELATAN": "SULAWESI",
    "SULAWESI TENGAH": "SULAWESI",
    "SULAWESI TENGGARA": "SULAWESI",
    "SULAWESI UTARA": "SULAWESI",
    "SUMATERA BARAT": "SUMATERA",
    "SUMATERA SELATAN": "SUMATERA",
    "SUMATERA UTARA": "SUMATERA",
}

merged_all['REGIONAL'] = merged_all['PROVINSI'].map(regional_mapping)

In [20]:
west_midle_east_mapping = {'SUMATERA':'WEST',
                          'JAWA':'MIDDLE',
                          'KALIMANTAN':'WEST',
                          'SULAWESI':'EAST',
                          'MALUKU DAN PAPUA':'EAST',
                          'BALI DAN NUSA TENGGARA':'MIDDLE'}

In [21]:
merged_all['ZONE'] = merged_all['REGIONAL'].map(west_midle_east_mapping)

In [22]:
merged_all.isnull().sum()

PROVINSI                 0
unemployment_avg_2022    0
growth_ctz_20_22         0
poverty_pct_avg_2022     0
REGIONAL                 0
ZONE                     0
dtype: int64

### Saving Result

In [23]:
##create directory dataset/clean

#os.mkdir('dataset/clean')

In [24]:
merged_all.to_excel('dataset/clean/poverty_analysis.xlsx',index=False)

In [25]:
merged_all

,PROVINSI,unemployment_avg_2022,growth_ctz_20_22,poverty_pct_avg_2022,REGIONAL,ZONE
0,ACEH,6.070,1.432930,14.695,SUMATERA,WEST
1,SUMATERA UTARA,5.815,1.214010,8.375,SUMATERA,WEST
2,SUMATERA BARAT,6.225,1.091596,5.980,SUMATERA,WEST
3,RIAU,4.385,1.954455,6.810,SUMATERA,WEST
4,JAMBI,4.645,1.328590,7.660,SUMATERA,WEST
5,SUMATERA SELATAN,4.685,1.273289,11.925,SUMATERA,WEST
6,BENGKULU,3.490,1.397251,14.480,SUMATERA,WEST
7,LAMPUNG,4.415,1.065908,11.505,SUMATERA,WEST
8,KEP. BANGKA BELITUNG,4.475,1.520060,4.530,SUMATERA,WEST
9,KEP. RIAU,8.125,3.152867,6.135,SUMATERA,WEST
10,DKI JAKARTA,7.590,0.636144,4.650,JAWA,MIDDLE
11,JAWA BARAT,8.330,1.332892,8.020,JAWA,MIDDLE
12,JAWA TENGAH,5.660,0.805628,10.955,JAWA,MIDDLE
13,DI YOGYAKARTA,3.895,1.443092,11.415,JAWA,MIDDLE
14,JAWA TIMUR,5.150,0.678774,10.435,JAWA,MIDDLE
15,BANTEN,8.310,1.657372,6.200,JAWA,MIDDLE
16,BALI,4.820,1.286377,4.550,BALI DAN NUSA TENGGARA,MIDDLE
17,NUSA TENGGARA BARAT,3.405,1.639518,13.750,BALI DAN NUSA TENGGARA,MIDDLE
18,NUSA TENGGARA TIMUR,3.420,1.501459,20.140,BALI DAN NUSA TENGGARA,MIDDLE
19,KALIMANTAN BARAT,4.985,1.333535,6.770,KALIMANTAN,WEST
20,KALIMANTAN TENGAH,4.230,1.513239,5.250,KALIMANTAN,WEST
21,KALIMANTAN SELATAN,4.470,1.513367,4.550,KALIMANTAN,WEST
22,KALIMANTAN TIMUR,6.240,1.414898,6.375,KALIMANTAN,WEST
23,KALIMANTAN UTARA,4.475,2.095718,6.815,KALIMANTAN,WEST
24,SULAWESI UTARA,6.560,0.817396,7.310,SULAWESI,EAST
25,SULAWESI TENGAH,3.335,1.530149,12.315,SULAWESI,EAST
26,SULAWESI SELATAN,5.130,0.955340,8.645,SULAWESI,EAST
27,SULAWESI TENGGARA,3.610,1.661276,11.220,SULAWESI,EAST
28,GORONTALO,2.915,1.022980,15.465,SULAWESI,EAST
29,SULAWESI BARAT,2.725,1.576145,11.835,SULAWESI,EAST
30,MALUKU,6.660,1.010019,16.100,MALUKU DAN PAPUA,EAST
31,MALUKU UTARA,4.480,1.611598,6.300,MALUKU DAN PAPUA,EAST
32,PAPUA BARAT,5.575,2.458412,21.380,MALUKU DAN PAPUA,EAST
33,PAPUA,3.215,1.516635,26.680,MALUKU DAN PAPUA,EAST